#custom-cpucat {
  font-family: "Waycat", monospace;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-skull {
  font-family: "Skulltype", monospace;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
